# Server Port
PORT=5001

# MongoDB Connection (Local or Atlas Cloud)
# - Local MongoDB: mongodb://127.0.0.1:27017/asset_mgmt
# - Cloud MongoDB Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/asset_mgmt?retryWrites=true&w=majority
# (Note: If no MongoDB instance is accessible, the app automatically falls back to an embedded in-memory MongoDB)
MONGO_URI=mongodb://127.0.0.1:27017/asset_mgmt

# Environment Mode (development | production)
NODE_ENV=development

